@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=DM+Serif+Display&family=Inter&display=swap');

:root{
	/*Fuentes*/
	--parrafos: "Inter", sans-serif;
	--titulos: "DM Serif Display", serif;
	--minimalista: 'Alegreya Sans SC', sans-serif;
	/*Colores*/
	--color-primario: #000;
	--color-secundario: #ff006e;
}

*{
	margin: 0;
	padding: 0;
	clear: both;
}

body {
	background-color: #fff;
}

button{
	width: 100%;
	padding: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #fff;
	border-color: #000;
	color: #000;
	font-weight: bold;
	border: 2px solid black;
}

button:hover{
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	background-color: #000;
	color: #fff;
}

.centrar{
	text-align: center;
}

.contenido{
	padding-left: 20%;
	padding-right: 20%;
}
.contenido p {
	font-size: 16px;
	line-height: 1.8;
}
.contenido a {
    color: #ff006e;
    text-decoration: none;
    font-weight: bold;
    transition: color .5s ease-in-out;
}

.contenido a:hover{
	color: var(--color-primario);
}

.derecha{
	float:right;
}

dt{
	font-weight: bold;
	margin-top: 20px;
}

dd{
	line-height: 1.8;
	margin-top: 20px;
}

footer{
	background-color: #f2f2f2;
	height: 150px;
	padding-top: 5px;
	padding-bottom: 15px;
}
footer p{
	text-align: center;
}

h1, h3{
	font-family: var(--titulos);
}

.nav,.contenido p,table,form,input[type="text"],footer p, dd, dt{
	font-family: var(--parrafos);
}

h1{
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 30px;
	margin-top: 30px;
}

h3{
	text-align: left;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 20px;
}

.item-izquierda{
	float: left;
}

img{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;	
}

.img-responsive{	
	width: 100%;
	height: auto;
}

input[type="radio"]{
	margin-bottom: 15px;
}

input[type="text"]{
	font-size: 15px;
	padding-bottom: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	border-bottom: 2px solid #cac7c7;
	transition: border-bottom 0.3s ease-in, width 0.8s ease-in-out;
	transition-delay: 0.2s;
	width: 40%;
}

input[type="text"]:focus{
	outline: none;
	border-bottom: 2px solid black;
	width: 75%;
}

input[type="checkbox"]{
	margin-bottom: 15px;
}


#menu{
	background-color: var(--color-primario);
	text-align: center;

}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	display: inline-block;

}

#menu ul li a{
	color: #fff;
	display: block; /*Hace que los links ocupen todo el espacio del li*/
	padding: 20px;
	text-decoration: none; /*Para quitar el subrayado*/	
	line-height: 25px;
}

#menu ul li a:hover{
	background-color: #ff006e;
	transition: background-color .5s ease-in-out; 
}

.nav{
	
	line-height: 1.75;
	background-color: var(--color-primario);
	position: fixed;
	width: 100%;
	box-shadow: 0px 1px 10px var(--color-primario);
	
}

.negrita{
	font-weight: bold;
}


p{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: justify;
  	text-justify: inter-word;
}


section{
	padding-top: 75px;
}

.sociales{
	text-align: center;
}
.sociales a{
	color:#000;
	transition: color 0.5s ease-in-out;
	margin-right: 10px;
}
.sociales p{
	font-family: var(--minimalista);
	font-weight: bold;
}
	
.sociales a:hover{
	color:var(--color-secundario);
}

.subrayado{
	display: flex;
	justify-content: center;
}
.subrayado h1{
	background-repeat: no-repeat;
	transition: background-size 0.7s, color 0.7s ease-in-out;
	transition-delay: 0.3s;
}
.subrayado h1 {
	background-position: left;
	background-size: 0% 100%;
	background-image: linear-gradient(#f51174,#ff006e);
  }
.subrayado:hover h1 {
	background-size: 100% 100%;
  }	

table{
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	line-height: 70px;
}

th {
    color: var(--color-primario);
    font-weight: 600;
}
th, td {
    text-align: left;
    border-bottom: 1px solid #dbdbdb;
}
